<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
 	
	<http auto-config="true">
		<intercept-url pattern="/notesmanager/my-account**" access="ROLE_USER" />
<!-- 		<access-denied-handler error-page="/403" /> -->
		<form-login 
		    login-page="/login" 
		    default-target-url="/notesmanager/show" 
			authentication-failure-url="/login?error" 
			username-parameter="nick"
			password-parameter="password" />
		<logout logout-url="/j_spring_security_logout" logout-success-url="/logout" />
		<!-- enable csrf protection -->
<!-- 		<csrf/> -->
	</http>

 	<authentication-manager>
		 <authentication-provider user-service-ref="userDetailsService">
			<password-encoder ref="passwordEncoder"/>
		</authentication-provider>
	</authentication-manager>
	
	<beans:alias name="SHA256SaltedPasswordEncoder" alias="passwordEncoder"/>
	<beans:bean id="SHA256SaltedPasswordEncoder"
		  class="pl.arczynskiadam.security.impl.SHA256SaltedPasswordEncoder">
	</beans:bean>
	
	<beans:alias name="defaultUserDetailsService" alias="userDetailsService"/>
	<beans:bean id="defaultUserDetailsService"
		  class="pl.arczynskiadam.security.impl.DefaultUserDetailsService">
		<beans:property name="userService" ref="userService" />
	</beans:bean>
	
</beans:beans>