<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<import resource="spring-persistence.xml" />

<!-- 	<context:annotation-config /> -->
	<context:component-scan base-package="pl.arczynskiadam" />
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="/images/**" location="/resources/images/" />
	<mvc:resources mapping="/themes/**" location="/resources/themes/" />
	<mvc:resources mapping="/js/**" location="/resources/js/" />
	<mvc:annotation-driven validator="validator" />

	<!--  i18n -->
	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en_EN" />
		<property name="cookieName" value="notesManagerUserLocale"></property>
        <property name="cookieMaxAge" value="3600"></property>
	</bean>

	<bean name="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"> 
		<property name="basenames">
			<list>
				<value>WEB-INF/classes/messages/messages</value>
				<value>WEB-INF/classes/messages/jsr303errors</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<bean name="errMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"> 
		<property name="basenames">
			<list>
				<value>classpath:messages/jsr303errors</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="true" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
	    <property name="validationMessageSource">
	        <ref bean="errMessageSource"/>
	    </property>
	</bean>
	
	<!-- Spring MVC JSON -->
	
	<bean id="messageAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <!-- Support JSON --> 
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <bean id="exceptionMessageAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver">
        <property name="messageConverters">
            <list>
                <!-- Support JSON --> 
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>
	
	<!--  themes -->
	
	<bean id="themeSource" class="org.springframework.ui.context.support.ResourceBundleThemeSource">
	        <property name="basenamePrefix" value="theme-" />
	</bean>
	
	<bean id="themeResolver" class="org.springframework.web.servlet.theme.CookieThemeResolver">
	    <property name="defaultThemeName" value="blue" />
	    <property name="cookieName" value="notesManagerUserTheme"></property>
        <property name="cookieMaxAge" value="3600"></property>
	</bean>
	
	<!--  interceptors -->
	
	<mvc:interceptors>
	    <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	        <property name="paramName" value="lang" />
	    </bean>
	    <bean class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
		    <property name="paramName" value="theme" />
		</bean>
	</mvc:interceptors>

	<!-- view -->

	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="myResourceHandler" name="myResourceHandler"
      class="org.springframework.web.servlet.resource.ResourceHttpRequestHandler">
      <property name="locations" value="/WEB-INF/pages/system/" />
      <property name="supportedMethods">
         <list>
            <value>GET</value>
            <value>DELETE</value>
            <value>POST</value>
         </list>
     </property>
	</bean>
</beans>