													/* Form */
.formWrapper .formRow input, .formWrapper .formRow textarea
{
	background-color: #EDF4FF;
	border: 1px inset #EDF4FF;
}
.formWrapper .formRow input:FOCUS, .formWrapper .formRow textarea:FOCUS,
.formWrapper .formRow.error input:FOCUS, .formWrapper .formRow.error textarea:FOCUS
{
	border: 1px inset #0059b8;
}
													/* Errors */
.formWrapper .formRow.error input, .formWrapper .formRow.error textarea
{
	background-color: #FFEEEE;
	border: 1px inset #FFEEEE;
}
.jsr303error
{
	color: #ff0000;
}

.jsr303ErrorBlock
{
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	display: block;
	padding-left: 2px;
}
													/* Buttons */
.buttonPositive
{
	box-shadow: 1px 1px 0 1px #276873;
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
}
.buttonPositive:hover
{
	background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}