													/* top Bar */
.topbar
{
	background: url(../../blue/images/header/bar_top.png);
}
													/* Main Layout */
header, .breadcrumbs
{
	border-bottom: 1px solid #3C517C;
}
													/* drop down menu */
.mainmenu
{
	border-bottom: 1px solid #3c517c;
	border-left: 1px solid #3c517c;
	border-right: 1px solid #3c517c;
}