													/* Top Header */
.topbar
{
	background: url(../../blue/images/header/bar_top.png);
}
													/* Navigation */
header, .breadcrumbs
{
	border-bottom: 1px solid #3C517C;
}
.breadcrumbs:AFTER
{
	background: url("../../blue/images/header/bar_corner.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
													/* drop down menu */
.mainmenu
{
	border-bottom: 1px solid #3c517c;
	border-left: 1px solid #3c517c;
	border-right: 1px solid #3c517c;
}

