													/* Master Layout */
.master
{
	background-image: url("../../blue/images/background/main.jpg");
}
.master .page
{
	background-color: #C9DEFF;
}
													/* Generic */
.frame
{
	border: 1px solid #094BC8;
}