													/* Master Layout */
body
{
	background-image: url("../../blue/images/background/footer.jpg");
}
.master
{
	background-image: url("../../blue/images/background/main.jpg");
}
.master .page
{
	background-color: #C9DEFF;
}