													/* Main Layout */
.notes
{
	background-image: url("/NotesManager/themes/blue/images/background/main.png");
}
.notes .content
{
	background-color: #C9DEFF;
}
.notes .top, .notes .bottom
{
	background-color: #0059B8;
}
													/* Banner */
.banner
{
	background-color: #0059B8;
}
.notes .banner .imgHolder .colorizer
{
    background-color: #0b4b90;
    opacity: 0.35;
}
													/* Data Table */
.notes table.data th
{
	background-color: #0059B8;
}
.notes table.data td
{
	border-bottom: 1px dotted #0059B8;
}
.notes table.data tr:nth-child(2n)
{
    background-color: #BAD5FF;
}
													/* Data Table - hover & links */
.notes table.data tbody tr:hover
{
	background-color: #E3EEFF;
}
													/* Checkboxes */
.notes .checkbox label:after
{
	background: linear-gradient(to bottom, #8EB4F5 0%, #ACC9FA 40%, #5A8DE6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
													/* Pagination */
.notes .paginationRow
{
	border-bottom: 1px solid #0059B8;
	border-top: 1px solid #0059B8;
}
.notes .paginationHolder
{
	background: linear-gradient(to right, #C9DEFF 0%, #0059B8 50px, #0059B8 calc(100% - 50px), #C9DEFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.notes .paginationHolder .pagingItem
{
    background-color: #BAD5FF;
}
.notes .paginationHolder .pagingItem:hover
{
	background-color: #E3EEFF;
}
.notes .paginationHolder .pagingItem.active
{
    background-color: #EDF4FF;
}