													/* Footer */
footer
{
	padding-bottom: 30px;
	width: 100%;
}
footer .content
{
	height: 100px;
	width: 80%;
	min-width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
	padding: 15px;
	border-radius: 0px 0px 15px 15px;
}
footer .connector
{
	height: 9px;
	margin: -21px -15px 0px -15px;
}