													/* Form */
.formWrapper
{
	width: 590px;
	margin: 0 auto;
	padding-top: 15px;
}
.formWrapper .formRow
{
	margin: 5px 0px;
}
.formWrapper .formRow label
{
	width: 160px;
	float: left;
	font-weight: bold;
	text-align: left;
}
.formWrapper .formRow label .mandatory
{
	color: #C43535;
}
.formWrapper .formRow input, .formWrapper .formRow textarea
{
	width: 400px;
	border-radius: 10px;
    box-shadow: 0 0 10px -5px #A2A2A2 inset;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}
.formWrapper .formRow input:FOCUS, .formWrapper .formRow textarea:FOCUS
{
	transition: all 0.4s ease-in-out;
}
.formWrapper .formRow textarea
{
	resize: none;
	height: 100px;
}
													/* Errors */
.formWrapper .formRow > div
{
	padding-left: 160px;
	padding-top: 2px;
}
													/* Buttons */
.buttonPositive
{
	border-radius: 8px;
	display: inline-flex;
	cursor: pointer;
	color: #FFFFFF;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3D768A;
	border: 0px none;
	width: 190px;
	height: 45px;
	align-items: center;
	justify-content: center;
}
.buttonPositive:active
{
	position: relative;
	top: 1px;
}
.buttonHolder
{
	text-align: right;
	padding-right: 5px;
	padding-top: 20px;
}