													/* Generic */
.frame
{
	border-radius: 5px;
}
.centerText
{
	text-align: center;
}
.centered
{
	margin: 0 auto;
}
.width20
{
	width: 20px;
}
.width40
{
	width: 40px;
}
.width60
{
	width: 60px;
}
.width150
{
	width: 150px;
}
.width200
{
	width: 200px;
}
.width250
{
	width:250px;
}
.width400
{
	width: 400px;
}
.width500
{
	width: 500px;
}
.width600
{
	width: 600px;
}
.indent22
{
	padding-left: 22px; 
}
.indent62
{
	padding-left: 62px; 
}
ul.noDecoration
{
	list-style: none;
	padding: 0;
	margin: 0;
}