													/* Generic */
hr
{
	border-bottom: 1px solid white;
}
.clearfix
{
	clear: both;
}
.centerText
{
	text-align: center;
}
.centered
{
	margin: 0 auto;
}
.width20
{
	width: 20px;
}
.width40
{
	width: 40px;
}
.width60
{
	width: 60px;
}
.width150
{
	width: 150px;
}
.width200
{
	width: 200px;
}
.width250
{
	width:250px;
}
.width400
{
	width: 400px;
}
.width500
{
	width: 500px;
}
.width600
{
	width: 600px;
}
.indent42
{
	padding-left: 42px; 
}
.indent82
{
	padding-left: 82px; 
}
.indent50
{
	padding-left: 50px; 
}
.weight600
{
	font-weight: 600;
}
.padding-h100
{
	padding-left: 100px;
	padding-right: 100px;
}
.padding-v40
{
	padding-top: 40px;
	padding-bottom: 40px;
}
ul.noDecoration
{
	list-style: none;
	padding: 0;
	margin: 0;
}
a.navLink
{
	color: #FFFFFF;
	font-weight: 600;
	text-decoration: underline;
}
a.navLink:HOVER {
	color: #FFFFFF;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.95);
}