.globalMessages
{
	display: flex;
	margin: 10px 0px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 2px 10px -4px #a2a2a2 inset;
	font-weight: bold;
}
.globalMessages > ul
{
	align-self: center;
	margin: 0px;
}
.globalMessages.info
{
	color: #1C8C00;
}
.globalMessages.warn
{
	color: #CDAA58;
}
.globalMessages.err
{
	color: #9F1212;
}
