													/* misc */
div#placeholder
{
	height: 95px;
}
													/* Top Header */
.topbar
{
	height: 30px;
	border-bottom: 1px solid #636363;
}
header
{
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1000;
}
header nav a
{
	display: inline-block;
}

													/* Navigation */
nav.buttonsBar
{
	display: inline-block;
	margin: 5px 0px 5px 15px; 
}
div.menu
{
	background: linear-gradient(to bottom, #ededed 0%, #e1e1e1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.breadcrumbs
{
	background: linear-gradient(to bottom, #e1e1e1 0%, #dedede 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	z-index: 1001;
	position: fixed;
	top: 92px;
	left: 0px;
	padding: 7px 10px 7px 20px;
	box-shadow: 4px 4px 4px -4px rgba(0, 0, 0, 0.5);
}
.navitem
{
	font-family: Calibri;
}
.navitem a
{
	text-decoration: underline;
}
.breadcrumbs:AFTER {
    content: "";
    height: 100%;
    left: 100%;
    position: absolute;
    top: 2px;
    width: 100%;
}
													/* Locale buttons */
.flagholder
{
	width: 45px;
	height: 45px;
    border-radius: 100%;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, .8) inset;
    margin: 0px auto;
    display: inline-block;
}
.flagholder:HOVER
{
	cursor: pointer;
	box-shadow: 0 0 6px -2px rgba(0, 0, 0, .8) inset;
}
.flagholder.en_EN
{
	background: url(../../common/images/flags/uk.gif);
}
.flagholder.pl_PL
{
	background: url(../../common/images/flags/pl.gif);
}
.flagholder.en_EN, .flagholder.pl_PL
{
	background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.flagholder.en_EN.dark
{
	background: url(../../common/images/flags/uk_dark.gif);
}
.flagholder.pl_PL.dark
{
	background: url(../../common/images/flags/pl_dark.gif);
}
.flagholder.en_EN.dark, .flagholder.pl_PL.dark
{
	background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
}
.flagholder.en_EN:HOVER, .flagholder.pl_PL:HOVER
{
	opacity: 1;
}
													/* Theme buttons */
.themeholder
{
	width: 45px;
	height: 45px;
	display: inline-block;
	text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    box-shadow: 0 5px 13px -4px #585858 inset;
    transition: all 0.4s ease-in-out;
}
.themeholder:HOVER
{
	cursor: pointer;
	box-shadow: 0 5px 13px -1px rgba(255, 255, 255, .6) inset;
}
.themeholder.blue
{
	background: linear-gradient(to bottom, #B3CBFF 0%, #00319C 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.themeholder.yellow
{
	background: linear-gradient(to bottom, #FFDE96 0%, #9E6C00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.themeholder.green
{
	background: linear-gradient(to bottom, #ADFF85 0%, #267000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.themeholder.red
{
	background: linear-gradient(to bottom, #FF6161 0%, #750000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
													/* Buttons border */
.buttonBorder
{
	background: linear-gradient(to bottom, #FFFFFF 33%, #B0B0B0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 3px 1px -2px rgba(170, 170, 170, 0.9) inset;
	padding: 4px;
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	vertical-align: middle;
	position: relative;;
}
													/* date holder */
.dateHolder
{
	padding: 3px 105px 0px 0px;
	color: #FFFFFF;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.95);
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	float: right;
}
													/* drop down menu */
.mainmenu
{
	float: right;
	margin-right: 120px;
	background: linear-gradient(to bottom, #ededed 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 0 0 5px 5px;
}
.mainmenu:HOVER
{
	cursor: pointer;
}
.mainmenu span
{
	display: block;
	padding-right: 10px;
}
.mainmenu span:BEFORE
{
	content: "";
	width: 25px;
	height: 25px;
	background: url("../../common/images/icons/arrow-down.png") no-repeat;
	background-size: 70%;
	background-position: center;
	display: inline-block;
	vertical-align: middle;
	margin: 3px;
}
													/* auth bar */
#topBarLogin
{
	margin-left: 15px;
	height: 100%;
	display: inline-block
}
#topBarLogin .fieldsRow, #topBarLogin #loginAction
{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#topBarLogin .fieldsRow
{
	padding-top: 4px;
}
#topBarLogin #loginAction
{
	padding-top: 2px;
	cursor: pointer;
}
#welcome #logoutAction
{
	cursor: pointer;
}
#loginAction > ul
{
	font-family: arial;
	text-decoration: none;
	background: none repeat scroll 0 0 #e1e1e1;
    border-radius: 10px 0 0 10px;
	display: inline-block;
    padding: 2px 0;
}
#loginAction > ul > li
{
    float: left;
    padding: 0 12px;
}
#loginAction > ul > li:NTH-CHILD(2)
{
    border-left: 1px solid black;
}
#loginAction > img
{
	margin-left: -10px;
    vertical-align: top;
    margin-top: -1px;
}
#topBarLogin input
{
	background-color: #e1e1e1;
    border-radius: 7px;
    padding: 0px 10px;
    width: 125px;
}
#welcome
{
	height: 100%;
	display: inline-block;
	margin-left: 15px;
    vertical-align: middle;
    color: #ffffff;
    font-family: calibri;
    font-size: 16px;
    padding-top: 4px;
}
#welcome #logoutAction:HOVER, #loginAction > ul > li:HOVER
{
	text-decoration: underline;
}
													/* Active elements */
header.top div.menu nav .buttonBorder.blue.active
{
	background: linear-gradient(to bottom, #B8BAFF 33%, #4246C9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}													
header.top div.menu nav .buttonBorder.green.active
{
	background: linear-gradient(to bottom, #A0EB7A 33%, #348A08 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
header.top div.menu nav .buttonBorder.yellow.active
{
	background: linear-gradient(to bottom, #F0D889 33%, #B3924B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
header.top div.menu nav .buttonBorder.red.active
{
	background: linear-gradient(to bottom, #FA7373 33%, #BA2B2B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
header.top div.menu nav .buttonBorder.pl_PL.active
{
	background: linear-gradient(to bottom, #FFFFFF 33%, #F9F9F9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-image: url(../../common/images/flags/pl.gif);
	background-size: 100%;
}
header.top div.menu nav .buttonBorder.en_EN.active
{
	background: linear-gradient(to bottom, #FFFFFF 33%, #F9F9F9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-image: url(../../common/images/flags/uk.gif);
	background-size: 100%;
}
header.top div.menu nav .flagholder.active
{
	opacity: 1;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 1) inset
}
header.top div.menu nav .themeholder.active
{
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 1) inset
}