													/* Body */
body
{
	margin: 0px;
	overflow-y: scroll;
}
													/* Master Layout */
.master
{
	padding-top: 15px;
}
.master .page
{
	border-radius: 15px 15px 0 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    font-family: arial;
    margin-left: auto;
    margin-right: auto;
    min-width: 960px;
    padding: 15px;
    width: 80%;
}
.master .bottom
{
	height: 3px;
}
													/* Other */
a
{
	text-decoration: none;
	color: #000000;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #AFAFAF;
    opacity:  1;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #AFAFAF;
    opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #AFAFAF;
    opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #AFAFAF;
    opacity:  1;
}