													/* Main Layout */
.notes
{
	width: 90%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
}
.notes a
{
	color: #000000;
}
.notes div.top, .notes table.data th
{
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.95);
}
.notes div.top span
{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.notes div.top
{
	text-align: center;
	font-size: 25px;
	height: 75px;
	line-height: 75px;
 	margin: 0 0 5px 0;
}
.notes div.bottom
{
	height: 3px;
 	margin: 5px 0 0 0;
}
													/* Data Table */
.notes table.data
{	
	table-layout: fixed;
	width: 100%;
	font-size: 18px;
	border-spacing: 1px;
	empty-cells: show;
}
.notes table.data th.corner
{
	background: transparent;
}
.notes table.data th
{
	text-align: center;
}
.notes table.data col.narrow
{
	width: 40px;
}
.notes table.data col.narrowCheckbox
{
	width: 20px;
	text-align: center;
}
.notes table.data td.left
{
	text-align: right;
	padding-right: 3px;
}
													/* Data Table - hover & links */
.notes table.data a:hover
{
	color: #0DBA1B;
}
.notes table.data span a:hover
{
	color: #E80000;
}
													/* Date Filter Table */
.notes table.dateFilter
{
	table-layout: fixed;
	width: 100%;
	border-width: 0px;
}
.notes table.dateFilter col.narrow
{
	width: 30px;
}
.notes table.dateFilter #inputholder
{
	display: table;
	vertical-align: middle;
	text-align: left;
	width: 100%;
	height: 50px;
	border: 1px solid #A0A0A0;
	background: none repeat scroll 0% 0% #F5F5F5;
}
.notes table.dateFilter span#labelspan
{
	font-size: 12px;
	vertical-align: middle;
	display: table-cell;
	padding-left: 10px;
}
.notes table.dateFilter span#inputspan
{
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	padding-right: 10px;
}
/* .notes table.dateFilter #inputholder */
/* { */
/* 	display: inline-block; */
/* 	vertical-align: middle; */
/* 	text-align: left; */
/* 	width: 100%; */
/* 	height: 50px; */
/* 	border: 1px solid #A0A0A0; */
/* 	background: none repeat scroll 0% 0% #F5F5F5; */
/* } */
/* .notes table.dateFilter #inputholder:before */
/* { */
/* 	content: ""; */
/* 	display: inline-block; */
/* 	height: 100%;  */
/* 	vertical-align: middle; */
/* } */
/* .notes table.dateFilter span#labelspan */
/* { */
/* 	font-size: 12px; */
/* 	vertical-align: middle; */
/* 	display: inline-block; */
/* 	width: 25%; */
/* 	padding-left: 10px; */
/* } */
/* .notes table.dateFilter span#inputspan */
/* { */
/* 	display: inline-block; */
/* 	width: 60%; */
/* } */
.notes table.dateFilter input#date
{
    width: 100%;
}
.notes table.dateFilter div.submitBbutton
{
	display: table-cell;
	vertical-align: middle;
	height: 46px;
	width: 100px;
	border: 3px solid;
    border-color: #C9C9C9;
    background-color: #D9D9D9;
    text-align: center;
}
.notes table.dateFilter div.submitBbutton img, .notes table.data div.sort img
{
	vertical-align: middle;
	margin-top: -3px;
}
													/* Date Filter Table - button hover */
.notes table.dateFilter div.submitBbutton:hover
{
    background-color: #E6E6E6;
    cursor: pointer;
}
													/* Checkboxes */
.notes input[type=checkbox] {
	visibility: hidden;
}

.notes .checkbox {
	width: 20px;
	height: 20px;
	margin: 0px auto;
	position: relative;
}

.notes .checkbox label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.notes .checkbox label:after
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 2px;

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.notes .checkbox label:hover::after
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.notes .checkbox input[type=checkbox]:checked ~ label:after
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
													/* Pagination */
.notes .paginationRow
{
	padding: 2px 0;
	text-align: center;
	border-bottom: 1px solid #0059B8;
	border-top: 1px solid #0059B8;
}
.notes .paginationHolder
{
	display: inline-block;
	padding: 2px 65px 2px 65px;
	margin: 0 auto;
}
.notes .paginationHolder .pagingItem, .notes .paginationHolder .pagingDots
{
	width: 22px;
	float: left;
	text-align: center;
	margin: 0 1px 0 1px;
	padding-top: 1px;
	border-radius: 4px;
}
.notes .paginationHolder .pagingItem:hover
{
	cursor: pointer;
}
.notes .paginationHolder .pagingItem.active:hover
{
	box-shadow: inherit;
	cursor: inherit;
}
.notes .paginationRow .margin, .notes .paginationRow .center
{
	display: inline-block;
	vertical-align: middle;
}
.notes .paginationRow .margin:AFTER, .notes .paginationRow .center:AFTER, .notes .paginationHolder:AFTER
{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.notes .paginationRow .margin
{
	width: 9%;
}
.notes .paginationRow .center
{
	width: 81%;
}
#entriesPerPageForm
{	
	display: inline-block;
}