													/* Form */
.formWrapper .formRow input, .formWrapper .formRow textarea
{
	background-color: #FFEBEB;
	border: 1px inset #FFEBEB;
}
.formWrapper .formRow input:FOCUS, .formWrapper .formRow textarea:FOCUS,
.formWrapper .formRow.error input:FOCUS, .formWrapper .formRow.error textarea:FOCUS
{
	border: 1px inset #9f1212;
}
													/* Errors */
.formWrapper .formRow.error input, .formWrapper .formRow.error textarea
{
	background-color: #C9C9C9;
	border: 2px inset #C9C9C9;
}
.jsr303error
{
	color: #B30000;
}

.jsr303ErrorBlock
{
	color: #000;
	background-color: #EBEBEB;
	border: 3px solid #000000;
	display: block;
	padding-left: 2px;
}
													/* Buttons */
.buttonPositive
{
	box-shadow: 1px 1px 0 1px #942911;
	background: linear-gradient(to bottom, #DE4B40 5%, #D63E33 100%);
}
.buttonPositive:hover
{
	background: linear-gradient(to bottom, #D63E33 5%, #DE4B40 100%);
}
