													/* Master Layout */
.master
{
	background-image: url("../../red/images/background/main.jpg");
}
.master .page
{
	background-color: #FF7C7C;
}
													/* Generic */
.frame
{
	border: 1px solid #880808;
}