													/* Form */
.formWrapper .formRow input, .formWrapper .formRow textarea
{
	background-color: #F1FFED;
	border: 1px inset #F1FFED;
}
.formWrapper .formRow input:FOCUS, .formWrapper .formRow textarea:FOCUS,
.formWrapper .formRow.error input:FOCUS, .formWrapper .formRow.error textarea:FOCUS
{
	border: 1px inset #1c8c00;
}
													/* Errors */
.formWrapper .formRow.error input, .formWrapper .formRow.error textarea
{
	background-color: #FFEEEE;
	border: 1px inset #FFEEEE;
}
.jsr303error
{
	color: #ff0000;
}

.jsr303ErrorBlock
{
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	display: block;
	padding-left: 2px;
}
													/* Buttons */
.buttonPositive
{
	box-shadow: 1px 1px 0 1px #3b6e22;
	background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
}
.buttonPositive:hover
{
	background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
}