													/* Master Layout */
body
{
	background-image: url("../../green/images/background/footer.png");
}
.master
{
	background-image: url("../../green/images/background/main.png");
}
.master .page
{
	background-color: #AEF29D;
}
.master .bottom
{
	background-color: #1C8C00;
}