													/* Master Layout */
.master
{
	background-image: url("../../green/images/background/main.jpg");
}
.master .page
{
	background-color: #AEF29D;
}
													/* Generic */
.frame
{
	border: 1px solid #467136;
}