													/* Form */
.formWrapper .formRow input, .formWrapper .formRow textarea
{
	background-color: #FFFBE3;
	border: 1px inset #FFFBE3;
}
.formWrapper .formRow input:FOCUS, .formWrapper .formRow textarea:FOCUS,
.formWrapper .formRow.error input:FOCUS, .formWrapper .formRow.error textarea:FOCUS
{
	border: 1px inset #cdaa58;
}
													/* Errors */
.formWrapper .formRow.error input, .formWrapper .formRow.error textarea
{
	background-color: #FFEEEE;
	border: 2px inset #FFEEEE;
}
.jsr303error
{
	color: #ff0000;
}

.jsr303ErrorBlock
{
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	display: block;
	padding-left: 2px;
}
													/* Buttons */
.buttonPositive
{
	box-shadow: 1px 1px 0 1px #cc9f52;
	background: linear-gradient(to bottom, #ffc477 5%, #eeb44f 100%);
}
.buttonPositive:hover
{
	background: linear-gradient(to bottom, #eeb44f 5%, #ffc477 100%);
}