													/* Navigation */
.topbar
{
	background: url(../../yellow/images/header/bar_top.png);
}
													/* Main Layout */
header, .breadcrumbs
{
	border-bottom: 1px solid #BB953C;
}
.breadcrumbs:AFTER
{
	background: url("../../yellow/images/header/bar_corner.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
													/* drop down menu */
.mainmenu
{
	border-bottom: 1px solid #BB953C;
	border-left: 1px solid #BB953C;
	border-right: 1px solid #BB953C;
}