													/* Master Layout */
.master
{
	background-image: url("../../yellow/images/background/main.jpg");
}
.master .page
{
	background-color: #FFF3C4;
}
													/* Generic */
.frame
{
	border: 1px solid #BB953C;
}