													/* Master Layout */
body
{
	background-image: url("../../yellow/images/background/footer.png");
}
.master
{
	background-image: url("../../yellow/images/background/main.png");
}
.master .page
{
	background-color: #FFF3C4;
}
.master .bottom 
{
	background-color: #CDAA58;
}