													/* top Bar */
div.topbar
{
	background: url(../../yellow/images/navigation/bar_top.png);
}
													/* Main Layout */
header
{
	width: 100%;
	border-bottom: 1px solid #454545;
	position: fixed;
	top: 0px;
	z-index: 10000;
}
